
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron mb-0">
    <div class="home container text-center m-5 " id="mainContent">
        <h1 class="heading text-white">ASP.NET MVC Assignments</h1>
    </div>
</div>
