@model IEnumerable<BusinessLayer.Employee>

@{
    ViewBag.Title = "Assignment3-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="employees container py-4">
    <h2 class="text-center mb-5">Employees</h2>
    <table class="table table-bordered text-center">
        <tr class="bg-dark text-white">
            <th>Name</th>
            <th>Gender</th>
            <th>City</th>
            <th>Date Of Birth</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
            </tr>
        }
    </table>
</div>