@{
    ViewBag.Title = "Assignment7-View Users Responses";
}

<div class="container mx-auto w-100 py-5 my-5">
    <h2 class="text-center mb-3">Employees</h2>
    <div class="row py-2 px-3 float-right">
        @Html.ActionLink(" Add New", "Create", "Assignment7", new { @class = "fa fa-plus fa-lg text-info" })
    </div>
    <br />
    @Html.Partial("_CommentForm")
</div>
