@model IEnumerable<Department>

@using Assignment.Models;

@{
    ViewBag.Title = "Assignment2-Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="department container py-5 w-75 mx-auto">
    <div class="text-center pb-2">
        <div class="bg-dark text-white py-1">
            <h5>Department List</h5>
        </div>
        @foreach (Department department in @Model)
        {
            <div class="py-1 border">
                @Html.ActionLink(department.DeptName, "Details", "Assignment2", new { deptId = department.DeptId }, null)
            </div>
        }
    </div>
</div>
